@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.ExamRegistrations

@{
}

@model ExamRegistrationsViewModel


<h2>Exam registrations</h2>

@if (Model != null)
{
    if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>
    }
    else
    {
        if (Model.MessageError != null)
        {
            <div class="alert alert-danger">@Model.MessageError</div>
        }
    }
}

<form method="get" asp-controller="ExamRegistrations" style="padding-bottom:0.5rem;">
    <div class="form-group" style="text-align: center;">
        <div style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" name="searchTermSubject" value="@Model.SearchTermSubject" placeholder="Subject name" />
        </div>
        @{
            if (Context.HasRole("Admin") || Context.HasRole("Professor"))
            {
                <div style="display: inline-block;vertical-align: middle;">
                    <input type="search" class="form-control" name="searchTermStudent" value="@Model.SearchTermStudent" placeholder="Student index" />
                </div>
            }
        }
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>
    </div>
</form>

@*
    <div class="float-end" style="padding:1rem 1rem 1rem 1rem">
    <a class="btn btn-primary" asp-controller="ExamRegistrations" asp-action="Create">
    Create new
    </a>
    </div>*@

@{
    if (Context.HasRole("Admin") || Context.HasRole("Professor"))
    {
        <div class="pagination" style="margin-top:10px; margin-bottom: 10px;">

        @for (var i = 1; i <=  (int)Math.Ceiling( @Model.TotalRegistrationNumber/(double)3); i++)
        {
          <a class="pgn-el"  asp-route-pageNumber=@i asp-route-searchTermSubject=@Model.SearchTermSubject  asp-route-searchTermStudent=@Model.SearchTermStudent asp-area="" asp-controller="ExamRegistrations" asp-action="Index">@i</a>
         
        }

    </div>
        <table class="table" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Student</th>
                    <th>Subject name</th>
                    <th>ESPB</th>
                    <th>Semester</th>
                    <th>Professor</th>
                    <th>Grade</th>
                    <th>Registration date</th>
                    <th>Exam date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ExamRegistrations != null)
                {

                    foreach (var er in Model.ExamRegistrations)
                    {
                        if (Context.HasRole("Professor"))
                        {
                            bool signal = false;
                            foreach (var subject in Model.Subjects)
                            {
                                if (subject.Id == er.Subject.Id)
                                {
                                    signal = true;
                                    break;
                                }
                            }
                            if (!signal)
                                continue;

                        }
                        <tr>
                            <td>@er.Student.Index</td>
                            <td>@(er.Student.FirstName + " " + er.Student.LastName)</td>
                            <td>@er.Subject.Name</td>
                            <td>@er.Subject.ESPB</td>
                            <td>@er.Subject.Semester</td>
                            @{
                                if (er.Professor != null)
                                {
                                    <td>@(er.Professor.FirstName + " " + er.Professor.LastName)</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            @{
                                if (er.Grade != null)
                                {
                                    <td>@er.Grade</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>@er.RegistrationDate.ToShortDateString()</td>
                            @{
                                if (er.ExamDate != null)
                                {
                                    <td>@er.ExamDate.Value.ToShortDateString()</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                <div style="display:inline-flex">
                                    @{
                                        if (!er.IsLocked)
                                        {
                                            <a class="form-control" style="border:none" asp-area="" asp-route-id="@er.Id" asp-controller="ExamRegistrations" asp-action="Edit">
                                                <i class="bi bi-pencil-square" style="color: cornflowerblue; font-size: 1.5rem " title="Edit"></i>
                                            </a>

                                            if (Context.HasRole("Admin"))
                                            {
                                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@er.Id" asp-controller="ExamRegistrations" asp-action="Delete">
                                                    <i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5rem " title="Delete"></i>
                                                </a>

                                            }


                                            if (er.Professor != null)
                                            {
                                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@er.Id" asp-controller="ExamRegistrations" asp-action="Lock">
                                                    <i class="bi bi-lock-fill" style="color:brown; font-size: 1.5rem;" title="Lock"></i>
                                                </a>
                                            }
                                        }

                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th>Subject name</th>
                    <th>ESPB</th>
                    <th>Semester</th>
                    <th>Professor</th>
                    <th>Grade</th>
                    <th>Registration date</th>
                    <th>Exam date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ExamRegistrations != null)
                {
                    foreach (var er in Model.ExamRegistrations)
                    {
                        if (er.Student.Email.Equals(Model.CurrentUserEmail))
                        {
                            <tr>
                                <td>@er.Subject.Name</td>
                                <td>@er.Subject.ESPB</td>
                                <td>@er.Subject.Semester</td>
                                @{
                                    if (er.Professor != null)
                                    {
                                        <td>@(er.Professor.FirstName + " " + er.Professor.LastName)</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                @{
                                    if (er.Grade != null)
                                    {
                                        <td>@er.Grade</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>@er.RegistrationDate.ToShortDateString()</td>
                                @{
                                    if (er.ExamDate != null)
                                    {
                                        <td>@er.ExamDate.Value.ToShortDateString()</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>
                                    <div style="display:inline-flex">
                                        @{
                                            if (!er.IsLocked && er.Grade==null)
                                            {
                                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@er.Id" asp-controller="ExamRegistrations" asp-action="Delete">
                                                    <i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5rem " title="Delete"></i>
                                                </a>

                                            }

                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
    }
}


