@using FacultyAppWeb.Common
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - FacultyAppWeb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FacultyAppWeb.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 myNav">
            <div class="container-fluid">
                @{
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        if (Context.User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                @{
                                    if (Context.HasRole("Admin") || Context.HasRole("Professor"))
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Professors" asp-action="Index">Professors</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Lectures" asp-action="Index">Profs&Subjects</a>
                                        </li>

                                    }

                                    @if (Context.HasRole("Student"))
                                    {
                                        <li>
                                            <a class="form-control" style="border:none" asp-area="" asp-route-email="@Context.GetEmail()" asp-controller="Students" asp-action="Details">
                                                <i class="bi bi-file-person-fill" style="color: cornflowerblue; font-size: 1.5rem " title="Details"></i>
                                            </a>
                                          
                                        </li>
                                    }

                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Popular Courses</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ExamRegistrations" asp-action="Index">Exam registrations</a>
                                </li>
                            </ul>
                            <div style="float:right">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Page("/", new { area = "" })">Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })">Login</a>
                                </li>
                            </ul>
                        }
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container" style = "padding-top:5rem; padding-bottom:12rem">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  

    <footer class="footer text-muted" style = "padding-top:0rem">
          <div class="logo" style="padding-right:2.5rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE5yLBLb00UJ-t1qjT7zxUcsy0rP4L05uP2CVeJcrkTYtL_0ZFJBdph3TzgHOWAjpZmRM&usqp=CAU" style="float:right; right:2.5rem; bottom:3rem">
          </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
