@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.Professors

@{
    ViewData["Title"] = "Home Page";
}

@model ProfessorsViewModel


<h2>Professors</h2>

@if (Model != null)
{
    if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>
    }
    else
    {
        if (Model.MessageError != null)
        {
            <div class="alert alert-danger">@Model.MessageError</div>
        }
    }

}

<form method="get" asp-controller="Professors" style="padding-bottom:0.5rem;">
    <div class="form-group" style="text-align: center;">
        <div style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" name="searchTerm" value="@Model.SearchTerm" placeholder="Name" />
        </div>
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>
    </div>
</form>

@{
    if (Context.HasRole("Admin"))
    {
        <div class="float-end" style=" padding:1rem 1rem 1rem 1rem;">
            <a class="btn-add" asp-controller="Professors" asp-action="Create">
                Add new
            </a>
        </div>
    }
}

 <div class="pagination" style="padding:1rem 1rem 1rem 1rem">
        @for (var i = 1; i <=  (int) Math.Ceiling(@Model.totalProfessorsNumber/(double) 3); i++)
        {
          <a class="pgn-el"  asp-route-pageNumber=@i  asp-route-searchTerm=@Model.SearchTerm asp-area="" asp-controller="Professors" asp-action="Index">@i</a>
         

        }
                </div>


<table class="table" style="vertical-align: middle;">
    <thead >
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>JMBG</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var professor in Model.Professors)
        {
            <tr>
                <td>@professor.FirstName</td>
                <td>@professor.LastName</td>
                <td>@professor.JMBG</td>
                <td>@professor.Email</td>
                <td>
                    @{
                        if (Context.HasRole("Admin"))
                        {
                            <div style="display:inline-flex">
                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@professor.Id" asp-controller="Professors" asp-action="Edit">
                                    <i class="bi bi-pencil-square" style="color: cornflowerblue; font-size: 1.5rem " title="Edit"></i>
                                </a>
                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@professor.Id" asp-controller="Professors" asp-action="Delete">
                                    <i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5rem " title="Delete"></i>
                                </a>
                            </div>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
 