@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.Lectures
@{
    ViewData["Title"] = "Lectures";
}

@model LecturesViewModel


<h2>Lecturing</h2>

@if (Model != null)
{
    if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>

    }
    else
    {
        if (Model.MessageError != null)
        {
            <div class="alert alert-danger">@Model.MessageError</div>
        }
    }
}

<form method="get" asp-controller="Lectures" style="padding-bottom:0.5rem;">
    <div class="form-group" style="text-align: center;">
        <div style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" name="searchTerm" value="@Model.SearchTerm" placeholder="Subject name" />
        </div>
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>


    </div>
</form>

@{
    if (Context.HasRole("Admin"))
    {
        <div class="float-end" style="padding:1rem 1rem 1rem 1rem">
            <a class="btn btn-primary" asp-controller="Lectures" asp-action="Create">
                Add new
            </a>
        </div>
    }
}
<div class="pagination">

        @for (var i = 1; i <=  (int)Math.Ceiling( @Model.TotalLecturesNumber/(double)3); i++)
        {
          <a class="pgn-el"  asp-route-pageNumber=@i  asp-route-searchTerm=@Model.SearchTerm asp-area="" asp-controller="Lectures" asp-action="Index">@i</a>
         
        }

    </div>


<table class="table" style="vertical-align: middle;">
    <thead style="background-color: lightgray">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>JMBG</th>
            <th>Subject</th>
            <th>ESPB</th>
            <th>Semester</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lectures != null)
        {
            foreach (var lecture in Model.Lectures)
            {
                <tr>
                    <td>@lecture.Professor.FirstName</td>
                    <td>@lecture.Professor.LastName</td>
                    <td>@lecture.Professor.JMBG</td>
                    <td>@lecture.Subject.Name</td>
                    <td>@lecture.Subject.ESPB</td>
                    <td>@lecture.Subject.Semester</td>
                    <td>
                        @{
                            if (Context.HasRole("Admin"))
                            {
                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@lecture.Id" asp-controller="Lectures" asp-action="Delete">
                                    <i class="bi bi-x-circle-fill" style="color: red; font-size: 2rem;" title="Delete"></i>
                                </a>
                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
