@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.Subjects
@{
    ViewData["Title"] = "Subjects";
}

@model SubjectsViewModel


<h2>Subjects</h2>

@if (Model != null)
{
    if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>
    }
    else
    {
        if (Model.MessageError != null)
        {
            <div class="alert alert-danger">@Model.MessageError</div>
        }
    }
}

<form method="get" asp-controller="Subjects" style="padding-bottom:0.5rem;">
    <div class="form-group" style="text-align: center;">
        <div style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" name="searchTerm" value="@Model.SearchTerm" placeholder="Name" />
        </div>
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>
    </div>
</form>
@{
    if (Context.HasRole("Admin"))
    {
        <div class="float-end" style="padding:1rem 1rem 1rem 1rem">
            <a class="btn-add" asp-controller="Subjects" asp-action="Create">
                Create new
            </a>
        </div>
    }
}
<div class="pagination" style="padding:1rem 1rem 1rem 1rem">
        @for (var i = 1; i <=  (int) Math.Ceiling(@Model.TotalSubjectNumber/(double) 3); i++)
        {
          <a class="pgn-el"  asp-route-pageNumber=@i  asp-route-searchTerm=@Model.SearchTerm asp-area="" asp-controller="Subjects" asp-action="Index">@i</a>
         

        }
                </div>

<table class="table" style="vertical-align: middle;">
    <thead>
        <tr>
            <th>Name</th>
            <th>ESPB</th>
            <th>Semester</th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td>@subject.ESPB</td>
                <td>@subject.Semester</td>
                <td>
                    @{
                        if (Context.HasRole("Admin"))
                        {
                            <div style="display:inline-flex">
                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@subject.Id" asp-controller="Subjects" asp-action="Edit">
                                    <i class="bi bi-pencil-square" style="color: cornflowerblue; font-size: 1.5rem " title="Edit"></i>
                                </a>

                                <a class="form-control" style="border:none" asp-area="" asp-route-id="@subject.Id" asp-controller="Subjects" asp-action="Delete">
                                    <i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5rem " title="Delete"></i>
                                </a>
                            </div>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<div></div>
<div id="chart"></div>


@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Subject');
        
        data.addColumn('number', 'Passed');
        data.addRows([
          ['EPOS', 30],
          ['Prog. jezici', 15],
          ['ITEH', 19],
          ['Proj. softvera', 18],
          ['Baze podataka', 20]
         
        ]);
   
    
       
         
         
       

        // Set chart options
        var options = {'title':'Percent of passed exams',
                       'width':600,
                       'height':500,
                   };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
      }




    </script>

}
 

 