@using FacultyAppWeb.Models.Subjects
@{
    ViewData["Title"] = "Subjects";
}

@model SubjectsViewModel


<h2>Subjects</h2>

@if (Model!=null)
{
     if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>
    }
    else
    {
        if(Model.MessageError != null)
        {
             <div class="alert alert-danger">@Model.MessageError</div>
        }
    }
}

<form method="get" asp-controller="Subjects" style="padding-bottom:0.5rem;">
    <div class="form-group" style="text-align: center;">
        <div style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" name="searchTerm" value="@Model.SearchTerm" placeholder="Name" />
        </div>
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>
    </div>
</form>

<div class="float-end" style="padding:1rem 1rem 1rem 1rem">
    <a class="btn btn-primary" asp-controller="Subjects" asp-action="Create">
        Create new
    </a>
</div>

<table class="table" style="vertical-align: middle;">
    <thead>
        <tr>
            <th>Name</th>
            <th>ESPB</th>
            <th>Semester</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td>@subject.ESPB</td>
                <td>@subject.Semester</td>
                 <td>
                    <div style="display:inline-flex">
                        <a class="form-control" style="border:none" asp-area="" asp-route-id="@subject.Id" asp-controller="Subjects" asp-action="Edit">
                            <i class="bi bi-pencil-square" style="color: cornflowerblue; font-size: 1.5rem " title="Edit"></i>
                        </a>

                        <a class="form-control" style="border:none" asp-area="" asp-route-id="@subject.Id" asp-controller="Subjects" asp-action="Delete">
                            <i class="bi bi-x-circle-fill" style="color: red; font-size: 1.5rem " title="Delete"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>