@using FacultyAppWeb.Domains
@using FacultyAppWeb.Models.Students
@{
}

@model CreateStudentViewModel

@if (Model!=null && Model.MessageCreate != null)
{
    <div class="alert alert-danger">@Model.MessageCreate</div>
}

<form method="post" asp-controller = "Students">
    <div class="form-group">
        <label asp-for="@Model.Index">Index</label>
        <input asp-for = "@Model.Index" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Index"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FirstName">First name</label>
        <input asp-for = "@Model.FirstName" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.LastName">Last name</label>
        <input asp-for = "@Model.LastName" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.JMBG">JMBG</label>
        <input asp-for = "@Model.JMBG" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.JMBG"></span>
    </div>
     <div class="form-group">
        <label asp-for="@Model.Email">Email</label>
        <input asp-for = "@Model.Email" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>
        <br />
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
