@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.Students

@{
    ViewData["Title"] = "Home Page";
}

@model StudentsViewModel


<h2>Students</h2>

@if (Model != null)
{
    if (Model.MessageSuccess != null)
    {
        <div class="alert alert-success">@Model.MessageSuccess</div>
    }
    else
    {
        if (Model.MessageError != null)
        {
            <div class="alert alert-danger">@Model.MessageError</div>
        }
    }
}

    <form method="get" asp-controller="Students" style="padding-bottom:0.5rem;">
 <div class="form-group" style="text-align: center;">
        <div  style="display: inline-block;vertical-align: middle;">
            <input type="search" class="form-control" id="searchTerm" name="searchTerm" value="@Model.SearchTerm" placeholder="Index" />
        </div>
        <button style="border:none; background-color:white; display: inline-block;vertical-align: middle;">
            <i class="bi bi-search" style="font-size: 1.2rem; color: cornflowerblue;" title="Search"></i>
        </button>
    </div>  
</form>

@{
    if (Context.HasRole("Admin"))
    {
        <div class="float-end" style="padding:1rem 1rem 1rem 1rem">
            <a class="btn-add" asp-controller="Students" asp-action="Create">
                Add new
            </a>
        </div>
    }
}
<div class="pagination">

        @for (var i = 1; i <=  (int)Math.Ceiling( @Model.TotalStudentsNumber/(double)3); i++)
        {
          <a class="pgn-el"  asp-route-pageNumber=@i  asp-route-searchTerm=@Model.SearchTerm asp-area="" asp-controller="Students" asp-action="Index">@i</a>
         
        }


 
    </div>

<table class="table" style="vertical-align: middle;">
    <thead>
        <tr>
            <th>Index</th>
            <th>First name</th>
            <th>Last name</th>
            <th>JMBG</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Index</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.JMBG</td>
                <td>@student.Email</td>
                <td>
                    <div style="display:inline-flex">

                        <a class="form-control" style="border:none" asp-area="" asp-route-id="@student.Id" asp-controller="Students" asp-action="Details">
                            <i class="bi bi-file-person-fill" style="color: cornflowerblue; font-size: 1.5rem " title="Details"></i>
                        </a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
    <br />
    
    
  
</table>
